<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Team2_CRUD_Binar-Academy</title>
    <!-- Bootstrap Style -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!-- Style Website -->
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <!-- Modal Delete -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete Data</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            Apakah kamu yakin ingin mengapus data ini?
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cancel
            </button>
            <button type="button" class="btn btn-danger">Delete</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Form -->
    <div
      class="modal fade"
      id="tambahdata"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Tambah Data</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <form>
            <div class="form-group row my-3 mx-3">
              <label
                for="colFormLabelSm"
                class="col-sm-2 col-form-label col-form-label-lg"
                >Name</label
              >
              <div class="col-sm-10">
                <input
                  type="email"
                  class="form-control form-control-lg"
                  id="nameProduct"
                  placeholder="name"
                />
              </div>
            </div>
            <div class="form-group row my-3 mx-3">
              <label
                for="colFormLabelSm"
                class="col-sm-2 col-form-label col-form-label-lg"
                >Price</label
              >
              <div class="col-sm-10">
                <input
                  type="email"
                  class="form-control form-control-lg"
                  id="priceProduct"
                  placeholder="Price"
                />
              </div>
            </div>
            <div class="form-group row my-3 mx-3">
              <label
                for="colFormLabelSm"
                class="col-sm-2 col-form-label col-form-label-lg"
                >Disc.
              </label>
              <div class="col-sm-10">
                <input
                  type="email"
                  class="form-control form-control-lg"
                  id="discountProduct"
                  placeholder="Discount"
                />
              </div>
            </div>
            <div class="form-group row my-3 mx-3">
              <label
                for="colFormLabelSm"
                class="col-sm-2 col-form-label col-form-label-lg"
                >Stock</label
              >
              <div class="col-sm-10">
                <input
                  type="email"
                  class="form-control form-control-lg"
                  id="stockProduct"
                  placeholder="Stock"
                />
              </div>
            </div>
          </form>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cancel
            </button>
            <button type="button" onclick="addData()" class="btn btn-success">
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Page Content -->
    <div class="container">
      <!-- Page Heading -->
      <h1 class="h3 mb-2 text-gray-800 mt-5">Team 2 CRUD Binar Academy</h1>
      <p class="mb-4 mt-3">
        This project to learn CRUD with PostgreSQL database in node.js.
        Copyright : Team 2 (Ariawan, Yuneda, Yudha, Maria, Aulia)
        <a
          target="_blank"
          href="https://gitlab.com/Ariawhan/team2_crud_binar-academy"
          >Gitlab Repository Link</a
        >.
      </p>
      <!-- Card Total Product -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div
                  class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                >
                  Total Product
                </div>
                <div class="h5 mb-0 font-weight-bold text-gray-800 mt-2">
                  <%= total %>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-calendar fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- DataTales Example -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#tambahdata"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="25"
              height="25"
              fill="currentColor"
              class="bi bi-plus-square"
              viewBox="0 0 16 16"
            >
              <path
                d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"
              />
              <path
                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
              />
            </svg>
            Tambah Data
          </button>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table
              class="table table-bordered"
              id="dataTable"
              width="100%"
              cellspacing="0"
            >
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Discount</th>
                  <th>Stock</th>
                  <th>Sold</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% data.forEach(x=> { %>
                <tr>
                  <td><%= x.name %></td>
                  <td><%= x.price %></td>
                  <td><%= x.discount %></td>
                  <td><%= x.stock %></td>
                  <td><%= x.sold %></td>
                  <div
                    class="modal fade"
                    id="tambahdata<%= x.id %>"
                    tabindex="-1"
                    aria-labelledby="exampleModalLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">
                            Tambah Data
                          </h5>
                          <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                          ></button>
                        </div>
                        <form>
                          <div class="form-group row my-3 mx-3">
                            <label
                              for="colFormLabelSm"
                              class="col-sm-2 col-form-label col-form-label-lg"
                              >Name</label
                            >
                            <div class="col-sm-10">
                              <input
                                type="email"
                                class="form-control form-control-lg"
                                id="nameProductU<%= x.id %>"
                                value="<%= x.name %>"
                              />
                            </div>
                          </div>
                          <div class="form-group row my-3 mx-3">
                            <label
                              for="colFormLabelSm"
                              class="col-sm-2 col-form-label col-form-label-lg"
                              >Price</label
                            >
                            <div class="col-sm-10">
                              <input
                                type="email"
                                class="form-control form-control-lg"
                                id="priceProductU<%= x.id %>"
                                value="<%= x.price %>"
                              />
                            </div>
                          </div>
                          <div class="form-group row my-3 mx-3">
                            <label
                              for="colFormLabelSm"
                              class="col-sm-2 col-form-label col-form-label-lg"
                              >Disc.
                            </label>
                            <div class="col-sm-10">
                              <input
                                type="email"
                                class="form-control form-control-lg"
                                id="discountProductU<%= x.id %>"
                                value="<%= x.discount %>"
                              />
                            </div>
                          </div>
                          <div class="form-group row my-3 mx-3">
                            <label
                              for="colFormLabelSm"
                              class="col-sm-2 col-form-label col-form-label-lg"
                              >Stock</label
                            >
                            <div class="col-sm-10">
                              <input
                                type="email"
                                class="form-control form-control-lg"
                                id="stockProductU<%= x.id %>"
                                value="<%= x.stock %>"
                              />
                            </div>
                          </div>
                          <div class="form-group row my-3 mx-3">
                            <label
                              for="colFormLabelSm"
                              class="col-sm-2 col-form-label col-form-label-lg"
                              >Sold</label
                            >
                            <div class="col-sm-10">
                              <input
                                type="email"
                                class="form-control form-control-lg"
                                id="soldProductU<%= x.id %>"
                                value="<%= x.sold %>"
                                disabled
                              />
                            </div>
                          </div>
                        </form>
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                          >
                            Cancel
                          </button>
                          <button
                            type="button"
                            onclick="updateData('<%= x.id %>')"
                            class="btn btn-success"
                          >
                            Save
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <th>
                    <!-- Modal Form -->

                    <button
                      type="button"
                      id="updatedata<%= x.id %>"
                      class="btn btn-warning"
                      data-bs-toggle="modal"
                      data-bs-target="#tambahdata<%= x.id %>"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-pencil-square"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                        />
                        <path
                          fill-rule="evenodd"
                          d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
                        />
                      </svg>
                    </button>
                    <button
                      type="button"
                      class="btn btn-danger"
                      onclick="deleteData('<%= x.id %>' , '<%= x.name %>')"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-trash"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                        />
                        <path
                          fill-rule="evenodd"
                          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                        />
                      </svg>
                    </button>
                  </th>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
  <!-- Scripts Website -->
  <script src="scripts/main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</html>
